<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
    <form class="form-horizontal" [formGroup]="splitFormGroup" (ngSubmit)="onSubmit($event, splitFormGroup)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left">
            <div class="dropdown-wrapper form-inline">
              <label for="" class="control-label">Billing Month:</label>

              <select formControlName="billingMonth" class="form-control">
              <option 
                *ngFor="let month of months"
                [disabled]="month.value === 0"
                [ngValue]="month.value">{{month.key}}
              </option>
          </select>
            </div>
          </div>
          <div class="pull-right">
            <!-- <span><i type="submit" class="fa fa-pencil" (click)="freeze = !freeze;"></i></span> -->
            <button type="submit">Submit</button>
          </div>
        </div>
        <div class="panel-body" formArrayName="billingData">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th *ngFor="let header of headers">
                    {{header}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr [formGroupName]="i" *ngFor="let resource of splitFormGroup?.controls?.billingData?.controls; let i = index;">
                  <td *ngFor="let key of keys">
                    <div class="split-form-row">
                      <span [hidden]="(!key.hideInput && !key.hideAlways) || (!key.hideInput && key.hideAlways)">{{resource?.controls[key.keyName].value}}</span>
                      <input type="number" 
                      [formControlName]="key['keyName']"
                      [(ngModel)]="resource.controls[key.keyName].value" 
                      [hidden]="(key.hideInput && key.hideAlways) || (key.hideInput && !key.hideAlways)"
                      (change)="onModelChange($event, i)"
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <!-- <pre>{{splitFormGroup | json}}</pre> -->
          <!-- <pre>{{resources | json}}</pre> -->
        </div>
      </div>
    </form>
  </div>
</div>