/* You can add global styles to this file, and also import other style files */
@import './app/shared/scss/bs-old/_bootstrap';

body, html {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

// body {
//   background: #ddd;
// }

.btn {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.btn,
.form-control {
  border-radius: 0;
}

.helper-text {
  color: #a59c9c;
  vertical-align: top;
  font-size: 9px !important;
}

.has-error {
  color: red;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.btn-secondary {
  border: 1px solid #eceeef;
}
