.add-person-icon {
  padding: 0 10px;
  &:hover {
      cursor: pointer;
  }
}

.list-group-item {
    border-radius: 0;
}

.add-person-icon-block {
    position: absolute;
    bottom: 13px;
    right: 20px;
}

.form-add-person {
  // border: 1px solid #ccc;
  // box-shadow: 0 0 5px #888888;
  border: 1px solid rgba(0,0,0,.125);

  .form-group-header {
    background: #ddd;
    padding: 15px 10px;
  }

  .form-group {
    padding: 10px;
  }

  .btn-block,
  .form-control {
    border-radius: 0;
  }
}

.footer-row {
  padding: 15px 0;
  margin-top: 25px;
  background: #ddd;
  border: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
}
