   <div class="row">
  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-horizontal form-add-person">
      <form #personForm="ngForm" (ngSubmit)="onSubmit($event, personForm)" novalidate>
        <div class="form-group form-group-header">
          <h4 [innerHtml]="(editing ? 'Edit' : 'Add') + ' Person'"></h4>
        </div>
        <div class="form-group">
          <label for="personName" class="control-label">Person Name:</label>
          <input type="text" id="personName" name="personName" class="form-control"
            [(ngModel)] = "person" #personName = 'ngModel'placeholder="John Doe" required>

           <span *ngIf="personForm?.submitted && !personForm?.controls?.personName?.valid" class="has-error">
             <small>Required. Person name cannot be empty.</small>
           </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-danger" 
              [innerHtml]="editing ? 'Update' : 'Add'" >
            </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-8 col-lg-8" *ngIf="persons?.length > 0">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let person of persons; let i = index;">
        {{person}}
        <div class="pull-right add-person-icon-block">
          <i class="fa fa-pencil add-person-icon" (click)="editPerson(person, i)"></i> |
          <i class="fa fa-trash add-person-icon" (click)="deletePerson(person, i)"></i>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row footer-row">
  <div class="col">
    <div class="pull-right">
      <button class="btn btn-default" (click)="goToNextStep($event)">Next >></button>
    </div>
  </div>
</div>